.title {
    text-align: center;
    margin-top: 70px;
    width: 100%;
    font-family: Mosk;
    font-size: 25px;
}
.wordS {
    height: 17px;
    width: 40px;
}
.amp {
    margin-bottom: 7px;
    width: 20px;
    height: 20px;
}
.textUnder {
    font-family: MoshitaMono;
    font-weight: lighter;
    font-size: 22px;
    color: gray;
}

.authorization {
    margin-top: 60px;
    text-align: center;
}
.authTitle {
    font-family:MoshitaMono;
    font-weight: Bold;
    font-size: 45px;
    opacity: .8;
}

.textUnderAuth {
    margin-top: 15px;
    font-family: MoshitaMono;
    font-weight: lighter;
    font-size: 22px;
    color: gray;
}

.inputPlace {
    margin-top: 50px;
}
.emlInpStr {
    margin-left: 25px;
    width: 85%;
    display: flex;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    opacity: .8;
}
.pswInpStr {
    margin-left: 25px;
    width: 85%;
    display: flex;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    opacity: .8;
}
.email {
    outline: none;
    font-size:17px;
    width: 80%;
    padding: 10px;
    border: none;
}
.password {
    outline: none;
    font-size:17px;
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: none;
}
.fgPsw {
    margin-top: 10px;
    background: none;
    border: none;
    color: orange;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
}
.fgPsw:hover {
    color: rgb(255, 181, 44);
}
.logBtn {
    padding: 15px;
    width: 80%;
    margin:140px 10% 0;
    border-radius: 25px;
    border: none;
    background: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}
.logBtn:hover {
    background: rgb(255, 181, 44);
}
