.App {
  margin-left: 40%;
  margin-top: 70px;
  width: 375px;
  height: 812px;
  border: 2px solid black;
  border-radius: 25px;
}
.cameraPlace {
  width: 60%;
  margin-left: 20%;
  height: 30px;
  border-radius: 0 0 20px 20px;
  background: black;
}
.linePlace {
  position: relative;
  top: 75px;
  width: 35%;
  margin-left: 32.5%;
  height: 5px;
  border-radius: 20px;
  background: black;
}

@font-face {
  font-family: Mosk;
  src: url("../public/Mosk\ Normal\ 400.ttf");
  font-family: MoshitaMono;
  src: url("../public/MoshitaMono.ttf");
  font-family: Museo;
  src: url("../public/MuseoSansCyrl100.ttf");
}
